@model List<isistema.Models.hora>

@{ViewBag.Title = "AlterarHoras";}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).on("click", "[type='checkbox']", function (e) {
        if (this.checked) {
            $(this).attr("value", "true");
        } else {
            $(this).attr("value", "false");
        }
    });</script>

<div class="card">
    @using (Html.BeginForm())
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Alterar Dias</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="checkbox"> Seg
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox"> Ter
                    @Html.TextBoxFor(model => model[2].dia, "2", new { id = "Ter", type = "checkbox", })
                </label>
                <label class="btn btn-primary">
                    @Html.LabelFor(model => model[3].dia, htmlAttributes: new { id = "Qua" })
                    @Html.TextBoxFor(model => model[3].dia, new { name = "model[3].dia", @Value = 3, type = "checkbox", @class = "form-control" })

                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="model[4].Selected" value="true">Qui
                    <input type="hidden" name="model[4].dia" value="4">
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="model[5].dia" value="true"/>Sex
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox"> Sab
                </label>
                <label class="btn btn-primary">
                    @Html.CheckBoxFor(model => model[0].Selected) Dom e Feriado
                    <input type="hidden" name="model[0].dia" value="true">
                </label>
            </div>
        </div>
        @for (int i = 0; i < ViewBag.dias; i++)
        {
        <div class="editrow">
            <div class="edititem">
                <div class="editor-label">
                    @Html.LabelFor(model => model[i].abre)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model[i].abre)
                    @Html.ValidationMessageFor(model => model[i].abre)
                </div>
            </div>
            <div class="edititem">
                <div class="editor-label">
                    @Html.LabelFor(model => model[i].fecha)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model[i].fecha)
                    @Html.ValidationMessageFor(model => model[i].fecha)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="save" onclick="JSON" type="submit" value="Alterar valores" class="btn btn-default" />
                </div>
            </div>

        </div>
        }
    </div>
<div>
    @Html.ActionLink("Voltar ao menu de horas", "MenuHoras", new { id = ViewBag.restid })
</div>
    }
</div>



<style>
    body {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    h4 {
        font-size: 20px;
        color: black;
        text-transform: uppercase;
        padding-left: 5px;
        border-left: 4px solid #ff0000;
    }

    div .form-horizontal {
        border-radius: 10px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.2);
        padding: 4%;
        margin: 0.8%;
        display: inline-table;
    }

    div .col-md-10 {
        display: contents;
    }

    div .card {
        margin-left: 25%;
    }
</style>