@model isistema.Models.WrapperModel

<div>
    <h4>JuntaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.restid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.restid)
        </dd>
    </dl>
</div>
<table class="table">
 
    @foreach (var horas in Model.horas)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => horas.dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => horas.abre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => horas.fecha)
        </td>
    <td>
       @Html.ActionLink("Editar", "Edit", new {  id=Model.restid  })
    </td>
    </tr>
    }

</table>
