
<h3>Alterar outros dias</h3>
<div class="form-group">
    @Html.LabelFor(model => model[0].dia, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model[0].dia, new { htmlAttributes = new { ng_model = "dia" } })
    <div class="col-md-10">
        <div class="slidecontainer">
            <input type="range" min="1" max="7" value="4" class="slider" id="dia">

        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model[3].abre, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[3].abre, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[3].abre, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model[3].fecha, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[3].fecha, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[3].fecha, "", new { @class = "text-danger" })
    </div>
</div>
<h3>Alterar outros dias</h3>
<div class="form-group">
    @Html.LabelFor(model => model[4].dia, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[4].dia, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[4].dia, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model[4].abre, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[4].abre, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[4].abre, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model[4].fecha, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[4].fecha, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[4].fecha, "", new { @class = "text-danger" })
    </div>
</div>
<h3>Alterar outros dias</h3>
<div class="form-group">
    @Html.LabelFor(model => model[5].dia, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[5].dia, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[5].dia, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model[6].abre, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[6].abre, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[6].abre, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model[6].fecha, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[6].fecha, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[6].fecha, "", new { @class = "text-danger" })
    </div>
</div>
<h3>Alterar outros dias</h3>
<div class="form-group">
    @Html.LabelFor(model => model[7].dia, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[7].dia, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[7].dia, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model[7].abre, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[7].abre, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[7].abre, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model[7].fecha, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[7].fecha, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[7].fecha, "", new { @class = "text-danger" })
    </div>
</div>
<h3>Alterar outros dias</h3>
<div class="form-group">
    @Html.LabelFor(model => model[8].dia, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[8].dia, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[8].dia, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model[8].abre, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[8].abre, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[8].abre, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model[8].fecha, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model[8].fecha, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model[8].fecha, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input id="save" onclick="JSON" type="submit" value="Alterar valores" class="btn btn-default" />
    </div>
</div>
    </div>
        }

    </div>

<label>@Html.CheckBoxFor(model => model[0].IsUploadedBool, true, new { id = "dia", @checked = "false" }) Amazon & Ebay</label>
<label>@Html.RadioButtonFor(model => model[1].dia, true, new { id = "dia", @checked = "false" }) Amazon & Ebay</label>