@model IEnumerable<isistema.Models.restaurante>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.restid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cardapioid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cardapiolocid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restCep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restEnde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restBairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restCid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restUf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tempo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxEnt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pgtoCod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restarea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feijao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.restid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cardapioid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cardapiolocid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restCep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restEnde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restBairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restCid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restUf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tempo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxEnt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pgtoCod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restarea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feijao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
