@model isistema.Models.restaurante
@{
    ViewBag.Title = "RestSelecionado";
}

<h2>RestSelecionado</h2>

<div>
    <h4>restaurante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.restid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cardapioid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cardapioid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cardapiolocid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cardapiolocid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restCep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restCep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restEnde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restEnde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restBairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restBairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restCid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restCid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restUf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restUf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TxEnt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TxEnt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pgtoCod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pgtoCod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.restarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restarea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.feijao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feijao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.restid  }) |
    @Html.ActionLink("Back to List", "Index")
</p>

