@model IEnumerable<isistema.Models.restaurante>

@{
    ViewBag.Title = "horas";
    Layout = "_Layout.cshtml";
}

<h2>horas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.restid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.restFim)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.restid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.restFim)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.restid }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
